# conditional statement

In [8]:
a=int(input("Enter the first number"))
b=int(input("Enter the second number"))
if a < b:
    print(f"Value{a}")
    print("My name is {fname}, I'm {age}".format(fname = "John", age = 36))
else:    
    print(f"Value{b}")

Enter the first number20
Enter the second number56
Value20
My name is John, I'm 36

# if...elseif...else

In [13]:
if 2<3 and 1<2:
    print("Line 1")
elif 5<6:
    print("Line 2")
else:
    print("Line 3")

Line 1

# Nested if... else statement

In [15]:
if 1<2:
    if 2<3:
        print("Line 1")
    else:
        print("Line 2")
else:
    print("Line 3")

Line 1

# Ternary operator

In [1]:
# true_value if condition else false_value
i=5

i**2 if i%2==0 else i**3

125

In [5]:
#Get maximum of three numbers using ternary operator

a=10
b=5
c=2

if a>b and a>c:
    print(a)
elif b>c and b>a:
    print(b)
else:
    print(c)
    
# EXP_1 IF COND_1 ELSE EXP_2 IF COND_2 ELSE EXP_3    
a if a>b and a>c else b if b>a and b<c else c

10