# Functions

In [1]:
def add():
    print("Calling add function")
    
add()

Calling add function

# Component of a function

- Function defination
- Function call

# Types of Functions

- Inbuilt functions
- user defined functions

In [1]:
def add(a,b):
    c= a + b
    print(c)
    
add(5,6)

11

In [2]:
lst = [10,20,30,40,50]
add(lst[0],lst[-1])

60

In [5]:
import sys
sys.version

'3.11.3 | packaged by Anaconda, Inc. | (main, Apr 19 2023, 23:46:34) [MSC v.1916 64 bit (AMD64)]'

# Global variable and local variable

In [8]:
a= 5

def test():
    print(a)
    
def test1():
    a=100
    return a
    
test()    
k=test1()
print(k)

5
100

# Types of arguments

# 1 Positional argument

In [9]:
def test(a,b,c):
    print(a)
    print(b)
    print(c)
    
test(10,20,30)

10
20
30

In [10]:
a=90
b=80
c=45

test(b,c,a)

80
45
90

# Default arguments

- When we assign some value to paramater inside the () of the function defination then it is known as default argument
- If we do not pass any value for the default argumnet then it iakes the default value
- If we pass some value to the defaukt argument then it takkes the value passed to it
- The default arguments are placeed after the positional arguments

In [12]:
def fn_name(a,b,c=100):
    code
    code

In [17]:
def test(a,b, c=100):
    return a+b+c

print(test(3,4,5))
print(test(3,4))

# def test(a,b=5, c):  Gives an error
#     return a+b+c


def test(a,b=50, c=100):
    return a+b+c

print(test(3))

12
107
153

# Keyword argument

In [23]:
def describe_person(name, age, country):
    print(f"{name} is {age} years old and lives in {country}.")

describe_person(name="Alice", age=30, country="USA")
describe_person(name="Alice", country="USA", age=30 )


def describe_person(name, age, country="USA"):
    print(f"{name} is {age} years old and lives in {country}.")

describe_person(name="Alice", age=30)
describe_person(name="Alice", country="USA", age=30 )
describe_person(name="Alice", age=30, country="India")

Alice is 30 years old and lives in USA.
Alice is 30 years old and lives in USA.
Alice is 30 years old and lives in USA.
Alice is 30 years old and lives in USA.
Alice is 30 years old and lives in India.

# Variable length arguments

In [27]:
def names(*a):
    c = ""
    for i in a:
        c+=i
    return c   

print(names('a','b','c','d'))

abcd

In [29]:
def test(a,b,*c):
    print(a)
    print(b)
    print(c)
    
test(1,3,4,5,6,7,8)

1
3
(4, 5, 6, 7, 8)

# Keyword variable length arguments

- When we do not know how many keyword arguments are then we use keword variable length arguments
- It stores the value om the form of a dictionary

In [34]:
def test(**a):
    print(a, type(a))
    
test(a=10,b=20,c=30)    

def test(b,**a):
    print(b)
    print(a, type(a))
    
test(1000,a=10,d=20,c=30)

{'a': 10, 'b': 20, 'c': 30} <class 'dict'>
1000
{'a': 10, 'd': 20, 'c': 30} <class 'dict'>

In [35]:
def test(**a):
    return a.keys()

test(a=10,b=20,c=30)

dict_keys(['a', 'b', 'c'])

# Recursive function

In [36]:
def test():
    test()

# Anonymous function

- lambda keyword is used to define anaonymous function

In [38]:
# (lambda arguments:operation)

a=(lambda a,b: a+b) (5,6)
print(a)

11

In [39]:
add = lambda x,y:x+y

add(4,5)

9

In [40]:
sub = lambda x,y:x-y

In [41]:
(lambda x:'even' if x%2==0 else 'odd') (5)

'odd'

In [44]:
import seaborn as sns

df=sns.load_dataset('titanic')
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [47]:
df['Who_New']=df.who.apply(lambda x:1 if x=='man' else 0)

In [48]:
df[['who','Who_New']]

       who  Who_New
0      man        1
1    woman        0
2    woman        0
3    woman        0
4      man        1
..     ...      ...
886    man        1
887  woman        0
888  woman        0
889    man        1
890    man        1

[891 rows x 2 columns]

In [49]:
def convert(x):
    if x=='man':
        return 1
    else:
        return 0

In [50]:
convert('Woman')

0

In [52]:
mx = lambda a,b,c:a if a>b and a>c else b if b>a and b>c else c

In [53]:
mx(18,20,3)

20

# filter()

- It takes two argument. The first argument is a function and the second argument is an iterable
- The function that we pass inside the filter() must have one argument only and a condition
- It filter the value from iterable on the basic if some condition
- It returns a filter object
- To fetch the values from a filter object we have to typecase it to list or tuple or set or we can apply loop

In [1]:
# filter(function,iterable)
# filter(lambda x:condition,iterable)

In [1]:
# Fetch the even number from following list usinf filter 

lst = [1,2,3,4,5,6,7,8,9,10]

a=list(filter(lambda x:x%2==0,lst))
print(a)

[2, 4, 6, 8, 10]

In [3]:
# fETCH ALL THE CONSONANTS FROM THE FOLLOWING string
my_str= 'I am learning Python'

list(filter(lambda x:x not in 'AWIOUaeiou ',my_str))

['m', 'l', 'r', 'n', 'n', 'g', 'P', 'y', 't', 'h', 'n']

In [7]:
def constants(x):
    if x not in 'AEIOUaeiou ':
        return x
    else:
        pass

In [8]:
list(filter(constants,my_str))

['m', 'l', 'r', 'n', 'n', 'g', 'P', 'y', 't', 'h', 'n']

# map()

- Map takes two arguments. The first argument is a function and second argument is iterable
- The function that we pass inside the map() should have only on eargument
- The map() performs element by elements operation on the iterable and returns a map object
- To fetch the values from the map object we have to type cast to list ,tuple etc or we can apply loop

In [9]:
# Syntax - map(function,iterable)
# map (lambda x:operation,iterable)

In [4]:
lst = [1,2,3,4,5,6,7,8,9,10]

list(map(lambda x:x**2,lst))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [15]:
list(map(lambda x:x**2 if x%2==0 else x**3,lst) )

[1, 4, 27, 16, 125, 36, 343, 64, 729, 100]

In [6]:
def even(x):
    if x%2==0:
        return x
    
def odd(x):
    if x%2!=0:
        return x

In [2]:
even(1)

In [8]:
print(list(filter(even,lst)))
print(list(filter(odd,lst)))

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

In [11]:
import pandas as pd

In [19]:
def square(x):
    return x**2

s=pd.Series([i for i in range(1,6)])
list((map(square,lst)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# reduce()

- It is used to perform some aggregation operation on an iterable
- Aggregation - Sum, Multiply, Division, Max, Min
- It takes two arguments. The first is function and second is iterable
- That function that we pass inside the reduce() shoulkd have the arguments
- reduce() returns the value after aggregation

In [20]:
lst= [1,2,3,4,5,6,7,8,9,10]

s = 0

for i in lst:
    s+=i
print(s)

55

# How to import reduce?

In [21]:
from functools import reduce

In [22]:
# reduce(function,iterable)
# reduce(lambda x,y:operation,iterable)

In [23]:
lst =[1,2,3,4,5,6,7,8,9,10]

In [24]:
reduce(lambda x,y:x+y,lst)

55

In [25]:
def add(x,y):
    return x+y

add(5,6)

11

In [29]:
s=reduce(add,lst)
print(s)

55

In [33]:
lst=[8,2,3,6,4,7,9,5,32,4]
reduce(lambda x,y:x,lst)
reduce(lambda x,y:x*y,lst)

46448640

# Modules