# Tuple

- Anything inside the () is tuple
- A tuple is a container type that can contain multiple element
- A tuple can contain heterogeneous elements
- A tuple can cobtain duplicate elements
- A tuple is immutable in nature

In [1]:
t= (10,20,30,40,50,60)
print(t,type(t))

t= (4,6.7, 3, 8, 'Hello', None, {1,2,3}, [10,20,30],{1:100,2:200})
print(t,type(t))

(10, 20, 30, 40, 50, 60) <class 'tuple'>
(4, 6.7, 3, 8, 'Hello', None, {1, 2, 3}, [10, 20, 30], {1: 100, 2: 200}) <class 'tuple'>

# Operations on a tuple

- Concatination
- Repetition
- Length
- Indexing and Slicing

# Concatination

In [2]:
t= (10,20,30,40,50,60) + (34,67,12,89,65)
print(t)

(10, 20, 30, 40, 50, 60, 34, 67, 12, 89, 65)

# Repetitions

In [3]:
t=(10,23,4,56,7,889)*2
print(t)

(10, 23, 4, 56, 7, 889, 10, 23, 4, 56, 7, 889)

# Length

In [4]:
t=(10,23,4,56,7,889)
print(len(t))

6

# Indexing

In [5]:
t= (4,6.7, 3, 8, 'Hello', None, {1,2,3}, [10,20,[56,1,3,4,67]],{1:100,2:200})
print(t[2])
print(t[-1])
# print(t[34])
print(t[7][2][2])

3
{1: 100, 2: 200}
3

# Slicing

In [6]:
# t[start_index:stop_index:step_size]
# Stop_index is excluded
# By default the step size is +1

print(t[2:4])
print(t[::-1])
print(t[:2:])

(3, 8)
({1: 100, 2: 200}, [10, 20, [56, 1, 3, 4, 67]], {1, 2, 3}, None, 'Hello', 8, 3, 6.7, 4)
(4, 6.7)

# Tuple is mmutable

In [7]:
my_tuple = (1, 2, 3)
print(my_tuple) 
# my_tuple[0] = 4

(1, 2, 3)

# How to create a tuple

# Case 1

In [8]:
t= (4,6.7, 3, 8, 'Hello', None, {1,2,3}, [10,20,[56,1,3,4,67]],{1:100,2:200})
print(t,type(t))

(4, 6.7, 3, 8, 'Hello', None, {1, 2, 3}, [10, 20, [56, 1, 3, 4, 67]], {1: 100, 2: 200}) <class 'tuple'>

# Case 2

In [9]:
# By using the tuple()
# tuple(iterable)

mystr ="Hello Python"
t1= tuple(mystr)
print(t1)

ltr= [1,2,3,4,5,6,7,6]
t=tuple(ltr)
print(t,type(t))

se={1: 100, 2: 200}
t=tuple(se)
my_dict = {'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}
v=tuple(my_dict.values())
print(t,type(t))
print(v,type(v))

f=frozenset([10,20,30,True,None])
print(f)
t=tuple(f)
print(t,type(t))

('H', 'e', 'l', 'l', 'o', ' ', 'P', 'y', 't', 'h', 'o', 'n')
(1, 2, 3, 4, 5, 6, 7, 6) <class 'tuple'>
(1, 2) <class 'tuple'>
('value1', 'value2', 'value3') <class 'tuple'>
frozenset({True, 10, None, 20, 30})
(True, 10, None, 20, 30) <class 'tuple'>

# Case 3

In [10]:
# Creating a tuple of single element

# Imp - When we pass a single value inside the () then it is not a tuple but value itseld

t=(1)
print(t,type(t))


t=(5.5)
print(t,type(t))

t= ('Data')
print(t,type(t))


t= ('Data',) # Add the comma in it if it has single element, This behaviour is not in list or any other datattype
print(t,type(t))

1 <class 'int'>
5.5 <class 'float'>
Data <class 'str'>
('Data',) <class 'tuple'>

# Case 4

In [11]:
# we can create a tuple without using () as well
a=10
a=20
print(a)

20

In [12]:
a=10,20
print(a,type(a))

(10, 20) <class 'tuple'>

# Packing and Unpacking

- Assining multiple values to a single variable is know as packing
- Opposite of packing is unpacking
- In python packing is supported by tuple
- When we assign multiple values generated by , to a variable

In [13]:
a = True,50,67,23,[1,2,3]
print(a,type(a))

(True, 50, 67, 23, [1, 2, 3]) <class 'tuple'>

In [14]:
names = 'Roshan','Shiva','Gopal','Saif'
print(names, type(names))

data =('Gopal',25,'Pune',95000)
print(data,type(data))

name,age,city,sal=data
print(name)
print(age)
print(city)
print(sal)

('Roshan', 'Shiva', 'Gopal', 'Saif') <class 'tuple'>
('Gopal', 25, 'Pune', 95000) <class 'tuple'>
Gopal
25
Pune
95000

In [15]:
# name,age,city=data too many values to unpack (expected 3)
# name,age,city,sal,abc=data too many values to unpack (expected 3) =data too many values to unpack (expected 3)

# Case 5

In [16]:
# By using loop

# Create a tuple that has the even numbers from 1 to 10

t=()

for i in range(2,11,2):
    t+=(i,)

print(t)

a= ()+(5,)+(6,)+('data',)
print(a)

(2, 4, 6, 8, 10)
(5, 6, 'data')

# Case 6

In [ ]:
# By taking the input from user

a = tuple(input('Enter some values -'))
print(a)

In [ ]:
d= tuple('10,20,30,40,50')
print(d)

d= (tuple(eval('10,20,30,40,50')))
print(d)

# Tuple is immutable

- We can not modify the values once defined
- Iterm assignement is not possible
- Address changes before and after the assignement

In [ ]:
t =(10,20,30,40,56)
# t[0]=56   Cannot assigned

t=(10,)
print(t,id(t))

t=(50,)
print(t,id(t))

# Tuple Methods

In [ ]:
print(dir(tuple))

In [ ]:
#  'count', 'index'

t=(10,23,45,67,86)
print(t.count(45))

In [ ]:
t=(10,20,30,40,50,60,10,20,30,40,50,60)
print(t.index(30))
print(t.index(30,3))