# Dictionary

In [1]:
d={1:100,2:200,3:300,4:400}
print(d, type(d))

{1: 100, 2: 200, 3: 300, 4: 400} <class 'dict'>

In [2]:
# Accessing a value from dictioonary
# For any invalid key it raises key error
nested_dict = {
    'person1': {
        'name': 'John',
        'age': 30,
        'address': {
            'street': '123 Main St',
            'city': 'Anytown',
            'state': 'CA'
        }
    },
    'person2': {
        'name': 'Jane',
        'age': 25,
        'address': {
            'street': '456 Oak St',
            'city': 'Sometown',
            'state': 'NY'
        }
    }
}

# Accessing nested dictionary values
print("Person 1's name:", nested_dict['person1']['name'])
print("Person 2's city:", nested_dict['person2']['address']['city'])
# print(nested_dict['person3']) Gives error

Person 1's name: John
Person 2's city: Sometown

In [3]:
# Add a new key value pair or change particular key in dictionary
d={1:100,2:200,3:300,4:400}
print(d)

d[2]='Number'
print(d)

d[5]='Number'
print(d)

{1: 100, 2: 200, 3: 300, 4: 400}
{1: 100, 2: 'Number', 3: 300, 4: 400}
{1: 100, 2: 'Number', 3: 300, 4: 400, 5: 'Number'}
{1: 100, 2: 200, 3: 300, 4: 400}
{1: 100, 2: 'Number', 3: 300, 4: 400}
{1: 100, 2: 'Number', 3: 300, 4: 400, 5: 'Number'}

In [4]:
# Dictonary is mutable

# Operations on Dictionary

In [5]:
print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [ ]:
# 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values'
# Concatination, Repetaions, Indexing and Slicing are not possible with a dictionary

# How to create a dictionary

# Case 1

In [ ]:
# When we already know the element
d={1:100,2:200,3:300,4:400}
print(d)

# Case 2

In [ ]:
# By using dict()
# dict(iterable)

# The iterable that we pass inside the dict() must have atleast one or more itearble inside it
# The inner iterable must have two elements,The  first element becomes the key and seconf element becomes the value
d=dict([(1,2)])
print(d)

d=dict([('Name','Bharath'),('Age',24)])
print(d)

d=dict((('Game','Cricket'),('Venue','Colombo')))
print(d)

## By using enumerate() inside the dict()

### enumerate()

- It takes an iterable as an argument 
- It maps the elements of that iterable to the values starting from 0 to len(iterable)-1
- It returns an enumerate objects

In [9]:
enumerate('Data')

In [10]:
print(list(enumerate('Data')))
print(set(enumerate('Data')))
print(tuple(enumerate('Data')))
print(dict(enumerate('Data')))

[(0, 'D'), (1, 'a'), (2, 't'), (3, 'a')]
{(3, 'a'), (1, 'a'), (0, 'D'), (2, 't')}
((0, 'D'), (1, 'a'), (2, 't'), (3, 'a'))
{0: 'D', 1: 'a', 2: 't', 3: 'a'}

In [11]:
# create a dictionary that has the index of the following list as the keys and element as the values

lst = [True,None, 1000,'Hello', 10+2j,(10,20,30,40),[70,80,90,100]]

print(lst)

print(dict(enumerate(lst)))

[True, None, 1000, 'Hello', (10+2j), (10, 20, 30, 40), [70, 80, 90, 100]]
{0: True, 1: None, 2: 1000, 3: 'Hello', 4: (10+2j), 5: (10, 20, 30, 40), 6: [70, 80, 90, 100]}

## By using zip() inside the dict()

### Zip()

- It takes multiple iterable as arguments
- It maps the elements of the iterable one by one in sequence
- It returns a zip object
- To fetch the value from the zip object we can typecast it to list, tuple, dict etc

In [12]:
z= zip('Data',[10,20,30,40])
print(z,type(z))

<zip object at 0x000001CF461059C0> <class 'zip'>

In [13]:
print(list(z))

[('D', 10), ('a', 20), ('t', 30), ('a', 40)]

In [14]:
z= zip('Data',[10,20,30,40],[100,200,300,400])
print(list(z))

[('D', 10, 100), ('a', 20, 200), ('t', 30, 300), ('a', 40, 400)]

In [15]:
z= zip('Data',[10,20,30,40])
print(set(z))

z= zip('Data',[10,20,30,40])
print(dict(z))

z= zip('Data',[10,20,30,40],[100,200,300,400])
# print(dict(z)) - Gives error

z = zip('Data',[10,20,30])
print(dict(z))

{('a', 40), ('a', 20), ('D', 10), ('t', 30)}
{'D': 10, 'a': 40, 't': 30}
{'D': 10, 'a': 20, 't': 30}

In [16]:
emp_names =['a','b','c','d','e']
emp_sal= [1,2,3,4,5]

print(dict(zip(emp_names,emp_sal)))

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

# Case 3

- By taking the input from user

In [17]:
d=eval(input('Enter the dictionary- '))
print(d,type(d))

Enter the dictionary- 5
5 <class 'int'>

In [18]:
keys= []
values= []

for i in range(3):
    a=eval(input('Enter the key -'))
    keys.append(a) # keys=keys+[a] or keys+=[a]
    
    b=eval(input('Enter the values -'))
    values.append(b)
    
d=dict(zip(keys,values))
print(d)

Enter the key -5
Enter the values -4
Enter the key -4
Enter the values -4
Enter the key -4
Enter the values -4
{5: 4, 4: 4}

In [19]:
print(list(zip(keys,values)))

[(5, 4), (4, 4), (4, 4)]

# Case 4

- By using Dictionary comprehension

In [20]:
# {key:value for loop}

d={}
for i in range(1,6):
    d[i]=i**2

print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

- Using Dictionary comprehension

In [ ]:
# {key:value for loop}
# {key:value for loop if condition}
# {ternary operator for loop}


d={i:i**2 for i in range(1,6)}

print(d)

d= {i:i**2 for i in range(1,11) if i%2}
print(d)

lst={i:i**2 if i%2==0 else i**3 for i in range(1,10)}
print(lst)

In [ ]:
name='python'

d={i:i.upper() for i in name}
print(d)

# Dictionary comprehension

In [ ]:
d={i:i**2 if i%2==0 else i**3 for i in range(1,10)}
print(d)

# Dictionary methods

In [ ]:
print(dir(dict))

## keys()

In [ ]:
emp ={'emp_name':'Rudra Pratap',
      'emp_id': 111,
     'emp_city':'Pune',
     'emp_designation':'Manager'}

print(emp)
print(emp.keys())

In [ ]:
employees = {
    'employee1': {
        'name': 'John Doe',
        'position': 'Software Engineer',
        'salary': 75000,
        'contact': {
            'email': 'john.doe@example.com',
            'phone': '555-1234'
        }
    },
    'employee2': {
        'name': 'Jane Smith',
        'position': 'Data Scientist',
        'salary': 80000,
        'contact': {
            'email': 'jane.smith@example.com',
            'phone': '555-5678'
        }
    },
    'employee3': {
        'name': 'Bob Johnson',
        'position': 'UX Designer',
        'salary': 70000,
        'contact': {
            'email': 'bob.johnson@example.com',
            'phone': '555-9876'
        }
    }
}

# Accessing information for employee2
print("Employee 2 Name:", employees['employee2']['name'])
print("Employee 2 Position:", employees['employee2']['position'])
print("Employee 2 Email:", employees['employee2']['contact']['email'])

In [ ]:
for i in employees:
    print(employees[i].keys())
    
    
for i in employees:
    for j in employees[i]:
        print(j)

# Values()

In [ ]:
emp ={'emp_name':'Rudra Pratap',
      'emp_id': 111,
     'emp_city':'Pune',
     'emp_designation':'Manager'}

print(emp)
print(emp.values())

# items()

In [ ]:
# It returns a  dict_items object that contains a list of tuples
# Each tuple contains two elements. The first element is the key and the second element is the value

emp ={'emp_name':'Rudra Pratap',
      'emp_id': 111,
      'emp_city':'Pune',
      'emp_designation':'Manager'}
print(emp.items())

In [ ]:
for i,j in emp.items():
     print(i,j,sep='->')

In [ ]:
for i ,j in employees.items():
    for x,y in j.items():
        print(x,y,sep=' ->')
    print()

# update()

- It updates the element of one dictionary to another

In [ ]:
emp_1 = {'Name':'Nikhil', 'ID':101}
emp_2 = {'Age':25 , 'City':'Pune'}

emp_1.update(emp_2)
print(emp_1)

In [ ]:
a={1:100}
a.update({2:200})
print(a)

In [ ]:
nums = {}

for i in range(1,11):
    nums.update({i:i**2})

print(nums)

# get()

In [ ]:
emp ={'emp_name':'Rudra Pratap',
      'emp_id': 111,
      'emp_city':'Pune',
      'emp_designation':'Manager'}


print(emp.get('emp_name'))

# set_default()

- It takes a key as an argument
- It returns the value at the perticular key
- If the key id invalid then it creates the key and assign it to None
- We can pass key and value bith then it creates a key:value pair for an invalid key

In [ ]:
emp

In [ ]:
print(emp.setdefault('emp_name'))
print(emp.get('emp_name'))
print(emp['emp_name'])

In [ ]:
print(emp.setdefault('emp_phone'))

In [ ]:
emp

In [ ]:
print(emp.setdefault('emp_address','HSR Layout'))

emp

# pop()

In [ ]:
print(emp.pop('emp_phone'))
emp

# popitem()

In [ ]:
#  It removes the last key:value from the dictionary
# it returns tuple
emp

In [ ]:
emp.popitem()
emp

# fromkeys()

- It takes one iterable and one value as an argument
- It maps the value to the elements of that iterable
- It is used when we want to map single value to multiple keys

In [ ]:
codes = [101,102,203,104,105,106,107,108]

city = 'Pune'

d = {}

for i in codes:
    d[i] = city
    
print(d)

In [ ]:
dict.fromkeys(codes,city)

# clear()

In [ ]:
codes = [101,102,203,104,105,106,107,108]

city = 'Pune'

d = {}

for i in codes:
    d[i] = city
    
print(d)    
d.clear()   
print(d)

# copy()

- It copies all the element from a dictionary and return new directory

In [ ]:
emp = {'Name':'Girish', 'Age':28, 'Code':101,'company':'TCS'}

new_emp=emp

print(emp)
print(new_emp)

In [ ]:
emp['Name']='Shiva'
print(emp)
print(new_emp)

print(id(emp))
print(id(new_emp))

In [ ]:
emp = {'Name':'Girish', 'Age':28, 'Code':101,'company':'TCS'}
new_emp=emp.copy()
emp['Name']='Shiva'
print(emp)
print(new_emp)
print(id(emp))
print(id(new_emp))

# Dictionary Keys

- Dictionary key should be hashable item

In [ ]:
# Hashable - int, floar, string , tuple, frozenset, String
# Unhashable - list, dictionary, set

In [ ]:
a= "Kannada"
print(hash(a))

lst = [1,2,3,4]
# print(hash(lst))